// icomoon
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon/fonts/icomoon.eot");
    src: url("../fonts/icomoon/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon/fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

[data-icon]:before {
    font-family: 'icomoon'; 
    content: attr(data-icon);
    speak: none;
}
// HelveticaNeueCyr
@font-face{
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf');
	font-weight: 300;
    font-style: normal;
}
@font-face{ 
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face{ 
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
// Cormorant
@font-face{ 
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant/Cormorant-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant/Cormorant-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}