@import "variables", "fonts", "mixines";
*{
    font-family: "HelveticaNeueCyr";
    font-weight: 400;
}
body{
    z-index: -1;
}
button{
    border: none;
    background-color: transparent;
    &:focus{
        outline: 1px solid $grey-c;
        z-index: 1;
    }
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.carousel-container{
    .carousel{
        overflow: hidden;
        .slider{
            display: flex;
            width: 200%;
            .header-slider{
                flex-basis: 100%;
                height: 750px;
                padding: 22px 45px 20px 45px;
                background: url("../img/header-bg/header-bg1.jpg") center center/cover no-repeat;
            }
            #header-slide-2{
                background: url("../img/header-bg/header-bg2.jpg") center center/cover no-repeat;
            }
        }
    }
}
// HEADER (logo, call, language)
.logo-cr{
    vertical-align: top;
    width: 65px;
    height: 69px;
}
.header{
    display: inline-block;
    color: $primary-c;
    margin-left: 120px;
    padding-top: 11px;
    font-size: 0;
    line-height: 1;
    .language{
        display: inline-block;
        vertical-align: top;
        margin-left: 49px;
    }
}
.call{
    display: inline-block;
    &__number{
        font-weight: normal;
        font-size: 14px;
    }
}
.btn-borderd-btm{
    background: transparent;
    padding: 0;
    p{
        display: inline;
        color: $white-c;
        font-size: 10px;
        line-height: 26px;
        position: relative;
        cursor: pointer;
        padding-bottom: 10px;
        border-bottom: 1px solid $primary-c;
        transition: all 0.5s;
        &:hover{
            color: $grey-c;
        }
    }
    &--big{
        p{
            color: $primary-c;
            font-size: 14px;
            
        }
    }
    &--mt{
        margin-top: 16px;
    }
}
// Buttons otline
.shadow-red:focus{
        outline: none;
        box-shadow: 0 0 3pt 2pt #ff00006e;
}
.round-btn{
    width: 30px;
    height: 30px;
    border: 1px solid $grey-c;
    border-radius: 50%;
    position: relative;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.05em;
    background: transparent;
    color: inherit;
    vertical-align: top;
    transition: all 0.5s;
    &:hover, &:active, &:focus{
        color: $white-c;
        background-color: $primary-c;
        border-color: $primary-c;
    }
    &--phone{
        &:before{
            position: absolute;
            bottom: 8px;
            right: 8px;
            content: "\e904";
            font-family: $font-icomoon !important;
        }
    }
    &--color-white{
        color: $white-c;
    }
}
.number-wrapper{
    display: inline-block;
    margin-left: 12px;
}
// About complex block
.slider-wrapper{
    display: flex;
    margin-top: 146px;
    .pages{
        width: 59px;
        &__number{
            margin: 10px 0px 10px 0px;
            display: block;
            width: 10px;
            font-size: 10px;
            color: #757575;
            transform: rotate(-90deg);
            &--selected{
                margin-top: 3px;
                width: 12px;
                font-size: 12px;
                color: $primary-c;
            }
        }
        &__line{
            margin-left: 5px;
            width: 1px;
            height: 78px;
            background: linear-gradient(180deg, #dddddd 30%, #dddddd59 30%)
        }
    }
    .complex{
        display: flex;
        flex-direction: column;
        width: 100%;
        &__name{
            font-size: 14px;
            line-height: 24px;
            color: $primary-c;
            font-weight: normal;
            margin-bottom: 0;
        }
        &__about{
            margin-top: 58px;
            width: 182px;
            font-size: 10px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FDFBFB;
            height: 38px;
            border-radius: 3px;
            -webkit-appearance: none;
            background-color: $primary-c;
            transition: all 0.5s;
            &:hover, &:active, &:focus{
                color: $white-c;
                background-color: $primary-c;
            }
        }
        // Footer of the slide (address, subway, comfort life emblem)
        .slide-footer{
            display: flex;
            margin-top: 60px;
            align-items: center;
            .location{
                display: flex;
                font-size: 10px;
                align-items: flex-end;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: $white-c;
                opacity: 0.7;
                .address:before{
                    content: "\e903";
                    color: $primary-c;
                    font-size: 15px;
                    font-family: $font-icomoon !important;
                    margin-right: 10px;
                }
                .subway{
                    display: flex;
                    margin-left: 87px;
                    align-items: center;
                    justify-items: center;
                    &:before{
                        content: "M";
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 15px;
                        height: 15px;
                        font-size: 10px;
                        border: 0.8px solid $primary-c;
                        border-radius: 50%;
                        text-align: center;
                        color: $primary-c;
                        margin-right: 10px;
                    }
                }
            }
            .emblem{
                margin-left: auto;
            }
        }
    }
}

.title{
    margin: 0;
    font-family: Cormorant;
    font-weight: 500;
    font-size: 68px;
    line-height: 68px;
    color: #FDFBFB;
    &--black{
        color: $black-c;
    }
    &--s{
        font-size: 30px;
    }
    &--mt-8{
        margin-top: 8px;
    }
    sup{
        font-size: 15px;
    }
}
// Round badges(pages) and h-arrows
.slider-btns{
    display: flex;
    align-items: center;
    &--mt-116{
        margin-top: 116px;
    }
    &--mt-78{
        margin-top: 78px;
    }
    .badges{
        display: flex;
        &__item{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $grey-c;
            margin-left: 26px;
            cursor: pointer;
            &:first-child{
                margin-left: 0;
            }
            &--selected{
                background: $white-c;
            }
        }
    }
    .h-arrows{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 35px;
        height: 20px;
        button{
            height: 100%;
            background: transparent;
            margin-left: 20px;
            &:active, &:focus{
                outline: none;
                .h-arrows__item{
                    box-shadow: 0 0 3pt 2pt #ff00006e;
                }
                
            }
            &:first-child{
                margin-left: 0;
            }
            .h-arrows__item{
                padding: 0;
                height: 1px;
                position: relative;
                background-color: $white-c;
                display: block;
                margin: auto 0;
                width: 45px;
                &--left{
                    &:before{
                        @include left-triangle;
                    }
                }
                &--right{
                    &:after{
                        @include right-triangle;
                    }
                }
            }
        }
    }
    &--primry-c-style{
        .badges__item{
            background: $white-c;
            &--selected{
                background: $primary-c;
                opacity: 1;
            }
        }
        .h-arrows button .h-arrows__item{
            background-color: $grey-c;
            &--left:before{
                border-right-color: $grey-c;
            }
            &--right:after{
                border-left-color: $grey-c;
            }
        }
    }
    &--grey-unmarked-badges{
        .badges__item{
            background: $grey-c;
            opacity: 1;
            &--selected{
                background: $primary-c;
                opacity: 1;
            }
        }
    }
    &--gallery-style{
        margin-left: auto;
        padding: 27px 56px 27px 0;
    }
}
// Gallery
.gallery{
    background-color: #e5e5e5ec;
    position: relative;
    .picture{
        display: block;
        margin-left: auto;
        width: 965px;
        height: 691px;
    }
    .carousel{
        display: flex;
        position: absolute;
        left: 540px;
        top: 647px;
        height: 103px;
        z-index: 1;
        &__picture{
            margin-top: auto;
            width: 119px;
            height: 74px;
            margin-left: 10px;
            &:first-child{
                margin-left: 0;
            }
            &--selected{
                width: 166px;
                height: 103px;
            }
        }
    }
    .tree{
        position: absolute;
        width: 372px;
        height: 457px;
        left: 12px;
        top: 222px;
        z-index: -10;
    }
    .menu{
        display: grid;
        grid-template-rows: 44px 1fr;
        position: absolute;
        width: 520px;
        height: 103px;
        left: 0px;
        top: 647px;
        background-color: #FDFBFB;
        box-shadow: 0px 5px 60px rgba(55, 55, 55, 0.2);
        z-index: 1;
    }
}
.tabs{
    display: flex;
    li{
        display: flex;
        flex-grow: 1;
    }
    &__item{
        width: 100%;
        padding: 17px 56px;
        line-height: 1;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background: #F1F1F1;
        &--first{
            padding-right: 76px;
            margin-left: auto;
        }
        &--selected{
            color: $primary-c;
            background-color: inherit;
        }
    }
    &--menu-style{
        li{
            &:first-child{
                width: 60%;
            }
            &:last-child{
                width: 40%;
            }
            
        }
    }
    &--layout-style{
        .tabs__item{
            padding: 17px 25px;
        }
    }
    &--sub{
        .tabs__item{
            padding: 17px 11px;
            background-color: inherit;
            font-size: 12px;
            font-weight: normal;
        }
        &-none{
            display: none;
        }
    }
}

// Navigation
.nav-wrapper{
    display: flex;
}

.v-arrows{
    margin-top: 75px;
    width: 10px;
    &__item{
        display: flex;
        display: block;
        padding: 0;
        color: $grey-c;
        span{
            display: flex;
            justify-content: center;
        }
        &:last-child{
            margin-top: 32px;
        }
        &:hover, &:active, &:focus{
            color: $primary-c;
        }
    }
}

.nav{
    padding-left: 57px;
    &--padding-t-gallery{
        padding-top: 57px;
    }
    &--padding-t-layout{
        padding-top: 179px;
    }
    &--width-gallery{
        min-width: 235px;
    }
    &--width-layout{
        min-width: 205px;
    }
    &--width-office{
        min-width: 150px;
    }  
    ul{
        list-style: none;
        padding-left: 1px;
        li{
            color: $grey-c;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-size: 10px;
            margin-top: 70px;
            .bullet{
                cursor: pointer;
                display: inline-block; 
                line-height: 1;
                width: 5px;
                height: 5px;
                background-color: $primary-c;
                border-radius: 50%;
                margin-right: 22px;
                letter-spacing: 0.05em;
                position: relative;
                transform-style: preserve-3d;
                &--selected{
                    &::after{
                        @include bullet-outline;
                        width: 20px;
                        height: 20px;
                        top: -7.5px;
                        left: -7.5px; 
                        transform: translateZ(-1px);
                      }
                    &::before{
                        @include bullet-outline;
                        width: 30px;
                        height: 30px;
                        opacity: 0.5;
                        top: -12.5px;
                        left: -12.5px;
                        transform: translateZ(-1px);
                    }
                }
               
            }
        }
    }
    &--primary-c-text{
        ul{
            li{
                color: $primary-c;
            }
        }
    }
    &--primary-c-outline{
        ul li .bullet--selected{
            &::after{
                background-color: #a68e5218;
              }
            &::before{
                background-color: #a68e5209;
            }
        }
    }
}
// Appartment layout
.layout-documents-wrapper{
    height: 1600px;
    position: relative;
    z-index: 0;
    .layout{
        background: url("../img/bg/app-layout.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 1190px;
        .layout-wrapper{
            margin: 100px 110px 0 auto;
            .flats{
                margin-top: 42px;
                width: 885px;
                height: 529px;
                background: #FFFFFF;
                box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.1);
                .flat-info{
                    padding: 42px 49px 0px 54px;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-template-rows: 205px 181px auto;
                    .slider-btns{
                        grid-column: 2 / 2;
                    }
                    .flat-info__img{
                        margin-right: 88px;
                        grid-row: 1 / span 2;
                    }
                    .flat-params{
                        padding: 0px 30px 35px 30px;
                        box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.05);
                        .params-wrapper{
                            display: flex;
                            .params{
                                display: grid;
                                grid-template-columns: 1fr auto;
                                grid-template-rows: 1fr 1fr 1fr 1fr;
                                column-gap: 30px;
                                &:first-child{
                                    padding-right: 29px;
                                    border-right: 0.5px solid #DDDDDD;
                                }
                                &:last-child{
                                    padding-left: 29px;
                                }
                                &__item{
                                    font-size: 12px;
                                    line-height: 26px;
                                    color: $black-c;
                                    margin: 0;
                                    &--light{
                                        color: $grey-c;
                                    }
                                }
                            }
                        }
                    }
                    .sales{
                        .sales-wrapper{
                            display: flex;
                            margin-top: 34px;
                            margin-bottom: auto;
                            font-size: 14px;
                            line-height: 24px;
                            color: $black-c;
                            .contact{
                                margin-right: 100px;
                            }
                            .sales__number{
                                font-size: 16px;
                                & > p {
                                    font-size: 14px;
                                    color:#8A8A8A;
                                }
                            }
                            p{
                                color: $grey-c;
                                margin: 0;
                            }
                        }
                            
                    }
                }
                
            }
        }
    }
    .docs{
        position: absolute;
        display: block;
        width: 100%;
        height: 700px;
        background: transparent;
        background: linear-gradient(transparent 40%, #161B21 40%);
        top: 900px;
        h2{
            margin-top: 75px;
        }
        &-address{
            display: flex;
            margin-top: 20px;
            font-size: 14px;
            line-height: 24px;
            color: #DDDDDD;
            p{
                margin-bottom: 0;
                width: 350px;
                &:first-child{
                    margin-right: 30px;
                }
            }
        }
        &-pdf{
            margin-top: 64px;
            display: flex;
            .doc-download{
                border: 0.5px solid $grey-c;
                width: 189px;
                font-size: 12px;
                line-height: 26px;
                color: $grey-c;
                padding: 34px 22px 20px 22px;
                margin-right: 50px;
                &:last-child{
                    margin-right: 0;
                }
                .pdf-wrapper{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 43px;
                    }
                }
                &__title{
                    margin-top: 30px;
                    color: $white-c;
                    font-family: "Cormorant";
                    font-weight: 500;
                    font-size: 18px;
                    border-bottom: 0.5px solid $grey-c;
                    padding-bottom: 22px;
                }
                .date-wrapper{
                    display: flex;
                    button{
                        margin-left: auto;
                        color: $primary-c;
                        font-size: 15px;
                    }
                }
            }
        }
        
    }
}
.office{
    &-wrapper{
        display: flex;
        margin-top: 217px;
        .title-email-wrapper{
            margin-right: 45px;
            & > span{
                color: $primary-c;
                margin-right: 23px;
                font-size: 20px;
            }
            .btn-borderd-btm{
                margin-top: 58px;
            }
        }
        .map-wrapper{
            & > img{
                margin-top: 57px;
                width: 805px;
                height: 435px;
            }
            .address-phone-wrapper{
                margin-left: 30px;
                display: flex;
                .office-info{
                    font-size: 14px;
                    color: $grey-c;
                    margin: auto 39px auto 0;
                    &__title{
                        margin-bottom: 0;
                        &--small{
                            font-size: 10px;
                        }
                    }
                    &__text{
                        font-family: "Cormorant";
                        font-weight: 500;
                        font-size: 30px;
                        color: $black-c;
                        margin-bottom: 0;
                    }
                    .btn-borderd-btm{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
.footer{
    display: flex;
    height: 88px;
    background-color: $black-c;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    justify-content: space-around;
    color: #B3AEAE;
    button{
        color: #B3AEAE;
    }
    &__ch2-logo{
        display: block;
        width: 93px;
        height: 42px;
    }
    &__info{
        & > span{
            color: $primary-c;
            margin-right: 20px;
        }
    }
    &__language{
        color: #757575;
        button{
            padding: 0;
            margin-right: 15px;
            &:hover{
                color: #B2AEAE;
            }
            &:active, &:focus{
                color: #B2AEAE;
                outline: none;
                border-bottom: 1px solid $primary-c;
            }
        }
    }
}